ADF_dataflows/pipeline/TruncateIntermediateTerm.json
{
	"name": "TruncateIntermediateTerm",
	"properties": {
		"description": "This activity truncates the Intermediate Term table.",
		"activities": [
			{
				"name": "TruncateIntermediateTerm",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupTableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "[dbo].[IntermediateTerm]"
					},
					{
						"name": "Destination",
						"value": "[dbo].[IntermediateTerm]"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterCleanupScript": "TRUNCATE TABLE  @activity('LookupTableName').output"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "IntermediateTermTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IntermediateTermTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupTableName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"dataset": {
						"referenceName": "DataFactoryTableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}